@import "compass/css3";
@import url("https://fonts.googleapis.com/css?family=Nixie+One");
@import url("https://fonts.googleapis.com/css?family=League+Script");
*
{
    margin: 0;
    padding: 0;
}

body
{
    color: #eee;
    background: #090d12;
    font: 15px Calibri,Arial,sans-serif;
    border-top: 5px solid #212121;
}

a
{
  color: #ffffff;
}
.title {
    font-size: 2em;
    position: relative;
    margin: 0 auto 1em;
    padding: 1em 1em .25em 1em;
    text-align: center;
    text-transform: uppercase;
}
.container{
  background: rgba(13,13,13,0.6);

}


.comingsoon{
  padding: 100px 50px 50px 50px;
}

.wrap {
  height: 100%;
  position: relative;
  overflow: hidden;

  img, .bg {


  }

  .bg {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background: url('https://s3.amazonaws.com/distortiondc/jonathan-denney-47983.jpg') no-repeat center center;
    background-size: cover;
    transform: scale(1.1);
  }
}

.wrap {
  padding: 50px 0px;
}

h2 {
 overflow: hidden;
 text-align: center;
}
h2:before,
h2:after {
 background-color: #000;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 50%;
}
h2:before {
 right: 0.5em;
 margin-left: -50%;
}
h2:after {
 left: 0.5em;
 margin-right: -50%;
}

.instabanner {
  display: inline-block;
  width: 25%;
  height: 0;
  padding-bottom: 25%;
  background: #eee 50% 50% no-repeat;
  background-size: cover;
}


.sign {
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

#title {
  font-size: 110px;
}
#trav {
  -webkit-animation: blink 0.01s infinite alternate;
  -moz-animation: blink 0.01s infinite alternate;
  -o-animation: blink 0.01s infinite alternate;
  animation: blink 0.01s infinite alternate;
}
#fade {
  opacity: 0.8;
  color: #ebffff;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
  -webkit-animation: fade 3s infinite alternate;
  -moz-animation: fade 3s infinite alternate;
  -o-animation: fade 3s infinite alternate;
  animation: fade 3s infinite alternate;
}
.neon-blue {
  font-family: 'Nixie One';
  margin: 0 auto;
  text-align: center;
  color: #ebffff;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
}
.neon-purple {
  font-family: 'League Script', Helvetica, Arial, sans-serif;
  font-size: 100px;
  margin: 0 auto;
  text-align: center;
  color: #ccf;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.5), 0 0 20px #fff, 0 0 10px #7d26cd, 0 0 50px #7d26cd;
}
@-moz-keyframes blink {
  70% {
    opacity: 0.7;
  }
}
@-webkit-keyframes blink {
  45% {
    opacity: 0.5;
  }
}
@-o-keyframes blink {
  70% {
    opacity: 0.7;
  }
}
@keyframes blink {
  70% {
    opacity: 0.7;
  }
}
@-moz-keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@-webkit-keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@-o-keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
