{% extends "blog/header.html" %}
{% block content %}
{% load staticfiles %}
{% load django_markdown %}
<!DOCTYPE html>


     <header class="intro-header" style="background-image: url({% static 'about/img/banner.jpg'  %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>
<body>
<div class="container-fluid">
<div class="col-lg-8 col-lg-offset-2">
<div class="row">
<h1>About DistortionDC</h1>
</div>
<div class="row">
					<p>Yeah, DistortionDC is a thing. It happened in 2017, the product of a dialogue that established two simple facts. Fact 1: Washington, DC is a music hub. You don’t know it since odds are you’ll be here for 2-5 years, then leave. And judging by the lack of a centralized website for DC music fans – cue Fact 2 – you’d never know it. This is a site dedicated to both music and a city whose creative genius is overshadowed by suits and K street. Distortion DC is above all that noise.
					Did you know Go-Go was started here? Did you know DC was the hub of East Coast Punk Rock in the 1980s? Boom! Now you do. Stick around. </p>

					<p>Consider the content as your X-factor at the next office party. Consider our writers as your Personal Jesus
					(actually Depeche Mode wasn’t from DC, but it seemed fitting).</p>

					<p>We salute with our bourbons the passersby, the mainstays, and the pillars of the city’s music scene. Whatdoes that mean, you say?  What it means is that we, at Distortion, recognize that this is a transient city. But, there are institutions worth knowing and preserving. Get to know the bands that visit, the local acts laying roots in DC, and – the few, the proud – the promoters, club owners, talent buyers, et al. Yeah, pretty much the folks who build your live music infrastructure.
					If you have ever wanted to submerge yourself in all that is music and all that is not politics in DC, we welcome you. </p>

</div>
<div class="row"><h1>Distorters</h1></div>
<div class="row">

<div class="col-lg-6">
<a href="https://twitter.com/FuzzBoxDC"><h2>FuzzBox</h2></a>
<p>Fuzzbox is the original distorter. His roots run deep in DC and its underground rock scene. Having witnessed the (r)evolution of the capital’s famed music institutions, Fuzzbox has the insider’s edge on DC’s musical pulse. A former DJ, Fuzzbox is that guy, the one that walks into an ordinary place - like your life - and shakes shit up. Distortion DC is his brainchild. Think of it as his remix of any given DC music site. When he is not bleeding from the ears (truth) from listening to music, you can find him dreaming up something transcendent for this city to experience. And if you spot him at a local gig, go ahead and ask about George Michael.</p>

</div>

<div class="col-lg-6">
<h2>Cowbelle</h2>
<p>True story: Cowbelle was once slapped so hard by a First Lady (not American) that she pissed herself. Thus began her love affairs with music. Weird connection, we know. But, you’d have to ask Cowbelle how that event triggered a life journey through sound… As a Distorter, she stalks, listens to, and writes about the DC Scene’s passerbys (out-of-towners), mainstays (local acts), and pillars (the teams that bring us awesome music)… Catch her dancing at a live gig, dissecting the lyrics of a tender track, or harassing the guy who has no idea how to balance sound at a live gig. She’s our musical perfectionist. She’s fiery and downright hysterical. Pray Cowbelle doesn’t slap you!</p>

</div>
</div>


<div class="row">
<div class="col-lg-6">
<h2>The Highlander</h2>
<p>Take a trip across the pond and you’ll find the lineage of our HTML warrior.  He’s tall, he’s bearded, and he looks good in a kilt. Luck out and see him at a gig, and you won’t forget the Highlander. He brings technical grey matter with a ruckus. You want code? Ask the Highlander. You want reviews? Ask the Highlander. You want…? Well, depending on what it is, ask the Highlander. A Distorter who knows his zeros and ones, the Highlander brings his technical prowess to DistortionDC. There can only be one!</p>
</div>

<div class="col-lg-6">
<h2>The Rooster</h2>
<p>Layne Staley said, “Yeah, here comes the Rooster.” If FuzzBox is DistortionDC’s rocker and Cowbelle is our journey seeking queen, this guy is our emo-laden lover. Trust us, he’ll love you. And, you’ll love him... Ok, that may sound a bit soft. So, let’s try again... He’s stronger, better, harder and faster than you. The Rooster will likely see more gigs than you in any given month. Expansive thinking, musically inclined, and a hell of an album reviewer, DistortionDC brings you: The Rooster! </p>
</div>
</div>
  {% endblock %}
